.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .patchy-container {
    width: 200px;
    height: 200px;
    padding: 30px;
  }
  .welcome-msg {
    font-size: 2rem;
  }
}
